In [1]:
import pandas as pd

In [2]:
reviews = pd.read_csv('data/reviews.csv')
reviews.head()

,review_id,reviewer,movie,rating,review_summary,review_date,spoiler_tag,review_detail,helpful
0,rw5704482,raeldor-96879,After Life,9.0,Very Strong Season 2,3 May 2020,0,"I enjoyed the first season, but I must say I t...","['1', '1']"
1,rw5704483,dosleeb,The Valhalla Murders,6.0,Icelandic detectives?,3 May 2020,0,I know Iceland is a small country and police d...,"['2', '2']"
2,rw5704493,UniqueParticle,Unstoppable,8.0,Excellent last film of legendary Director Tony...,3 May 2020,0,A suspenseful thrilling adventure about a loos...,"['3', '4']"
3,rw5704496,Hellooo1234321,Dangerous Lies,NaN,Not bad,3 May 2020,0,Highlight was Camila Mendes exceptional acting...,"['2', '3']"
4,rw5704507,indieevan,The Master,8.0,"Great Potential, Less Great Execution",3 May 2020,0,"The premise was a 10, but the execution left a...","['1', '1']"

# Null values

In [4]:
reviews[titles.isna().any(axis=1)]

,review_id,reviewer,movie,rating,review_summary,review_date,spoiler_tag,review_detail,helpful
3,rw5704496,Hellooo1234321,Dangerous Lies,NaN,Not bad,3 May 2020,0,Highlight was Camila Mendes exceptional acting...,"['2', '3']"
44,rw5704674,MJBlazin,Into the Night,NaN,"Good series, science more believable than the ...",3 May 2020,1,SPOILERSThe series goes pretty fast. Interesti...,"['5', '8']"
98,rw5704915,courtjes,Murder to Mercy: The Cyntoia Brown Story,NaN,"A one-sided show, not a real documentary.",4 May 2020,1,Lots of troubled youth in dysfunctional famili...,"['13', '22']"
109,rw5704956,Gordon-11,Fisherman's Friends,NaN,Really liked it!,4 May 2020,0,I did not expect this film to be so good! It r...,"['1', '1']"
236,rw5705652,violab,Into the Night,NaN,It's a good show but there is no payoff.,4 May 2020,0,I'm really fed up with good shows ending with ...,"['1', '5']"
...,...,...,...,...,...,...,...,...,...
909442,rw0098911,TSMChicago,Point Blank,NaN,Excellent,21 July 2003,0,A tough revenge drama made excellent by Lee Ma...,"['1', '2']"
909445,rw0098914,bob the moo,Point Blank,NaN,Brutally nihilistic thriller,21 November 2003,0,"Helping his friend Reese with a job, Walker is...","['3', '7']"
909449,rw0098918,bjorn.grung,Point Blank,NaN,Stylish revenge thriller,22 December 2003,0,Lee Marvin stars in this early and stylish Joh...,"['1', '3']"
909450,rw0098919,compsecure,Point Blank,NaN,role made for the original 60s action man,23 April 2004,0,This was a movie made for Marvin. Whether by d...,"['33', '44']"
909453,rw0098922,ginger_sonny,Point Blank,NaN,classic,31 August 2004,0,A violent crime classic. In British director J...,"['2', '4']"

In [19]:
reviews[reviews['movie']=='Bee Movie']['rating'].mean()

6.0641891891891895

In [18]:
reviews[reviews['review_id']=='rw5528629']['review_detail'].values

array(['A masterpiece of a meme! My entire will to live summed up in 2 hours of glorious BEE! This masterpiece has given hope to millions of dying people!\nYA LIKE JAZZ?'],
      dtype=object)

In [21]:
reviews[reviews['movie']=='Person of Interest']['rating'].mean()

6.407843137254902

In [23]:
reviews.groupby(by='movie', level=0).head()

,review_id,reviewer,movie,rating,review_summary,review_date,spoiler_tag,review_detail,helpful
0,rw5704482,raeldor-96879,After Life,9.0,Very Strong Season 2,3 May 2020,0,"I enjoyed the first season, but I must say I t...","['1', '1']"
1,rw5704483,dosleeb,The Valhalla Murders,6.0,Icelandic detectives?,3 May 2020,0,I know Iceland is a small country and police d...,"['2', '2']"
2,rw5704493,UniqueParticle,Unstoppable,8.0,Excellent last film of legendary Director Tony...,3 May 2020,0,A suspenseful thrilling adventure about a loos...,"['3', '4']"
3,rw5704496,Hellooo1234321,Dangerous Lies,NaN,Not bad,3 May 2020,0,Highlight was Camila Mendes exceptional acting...,"['2', '3']"
4,rw5704507,indieevan,The Master,8.0,"Great Potential, Less Great Execution",3 May 2020,0,"The premise was a 10, but the execution left a...","['1', '1']"
...,...,...,...,...,...,...,...,...,...
905758,rw0848173,reelG,Bollywood Calling,NaN,Nagesh matures...,25 January 2002,0,Hyderabad Blues was an experimental film that ...,"['0', '0']"
907097,rw0852698,james362001,Kevin James: Sweat the Small Stuff,7.0,You Might Stop Eating Pizza After This Show.,22 January 2002,0,You might stop eating pizza altogether or not ...,"['6', '7']"
907098,rw0852699,MysticalGem,Kevin James: Sweat the Small Stuff,NaN,Funny Shtuff!!!,14 August 2002,0,This is the funniest bit on Comedy Central. I ...,"['2', '6']"
907248,rw0854241,Edible Fetus,Sam Kinison: Breaking the Rules,10.0,The funniest Sam Kinison performance ever!,22 August 2002,0,This is an absolutely legendary performance by...,"['5', '9']"
907249,rw0854242,Quinoa1984,Sam Kinison: Breaking the Rules,NaN,Kinison's breakthrough,2 August 2004,0,"In Kinison's TV breakthrough, following appear...","['8', '12']"