In [226]:
import pandas as pd

In [227]:
reviews = pd.read_csv('../data/reviews.csv')
reviews

,review_id,reviewer,movie,rating,review_summary,review_date,spoiler_tag,review_detail,helpful
0,rw5704482,raeldor-96879,After Life,9.0,Very Strong Season 2,3 May 2020,0,"I enjoyed the first season, but I must say I t...","['1', '1']"
1,rw5704483,dosleeb,The Valhalla Murders,6.0,Icelandic detectives?,3 May 2020,0,I know Iceland is a small country and police d...,"['2', '2']"
2,rw5704493,UniqueParticle,Unstoppable,8.0,Excellent last film of legendary Director Tony...,3 May 2020,0,A suspenseful thrilling adventure about a loos...,"['3', '4']"
3,rw5704496,Hellooo1234321,Dangerous Lies,NaN,Not bad,3 May 2020,0,Highlight was Camila Mendes exceptional acting...,"['2', '3']"
4,rw5704507,indieevan,The Master,8.0,"Great Potential, Less Great Execution",3 May 2020,0,"The premise was a 10, but the execution left a...","['1', '1']"
...,...,...,...,...,...,...,...,...,...
909450,rw0098919,compsecure,Point Blank,NaN,role made for the original 60s action man,23 April 2004,0,This was a movie made for Marvin. Whether by d...,"['33', '44']"
909451,rw0098920,kyle-garabadian,Point Blank,9.0,Point Blank is one of the most influential fil...,12 June 2004,0,Point Blank is one of those lost gems from the...,"['97', '119']"
909452,rw0098921,sol-kay,Point Blank,8.0,John Boorman's hypnotic & stylish 1967 crime t...,14 July 2004,0,"****SPOILERS***** Mal Reese, John Vernon, took...","['2', '4']"
909453,rw0098922,ginger_sonny,Point Blank,NaN,classic,31 August 2004,0,A violent crime classic. In British director J...,"['2', '4']"
909454,rw0098923,tresdodge,Point Blank,8.0,"Arty, Stylish, Sharp, Revenge Thriller",29 September 2004,0,"John Boormans classic centres around a man ,(L...","['2', '4']"

In [228]:
reviews.loc[:, 'review_id'] = reviews.loc[:, 'review_id'].str.replace('rw', '').astype(int)
reviews.set_index('review_id', inplace=True)

In [229]:
reviews.rename(columns={'helpful': 'helpful_list'}, inplace=True)
reviews.head(1)

,reviewer,movie,rating,review_summary,review_date,spoiler_tag,review_detail,helpful_list
review_id,,,,,,,,
5704482,raeldor-96879,After Life,9.0,Very Strong Season 2,3 May 2020,0,"I enjoyed the first season, but I must say I t...","['1', '1']"

# Null values

In [230]:
reviews[reviews.columns[reviews.isnull().any()]].isnull().sum()

rating            73319
review_summary        3
dtype: int64

In [231]:
reviews[reviews['review_summary'].isnull()]

,reviewer,movie,rating,review_summary,review_date,spoiler_tag,review_detail,helpful_list
review_id,,,,,,,,
6262481,irfanaassi,Ludo,1.0,NaN,12 November 2020,0,Not so interesting. dont want to waste money o...,"['12', '38']"
3851405,samuelrgarcia,Searching for Sugar Man,9.0,NaN,6 November 2017,1,"Heartwarming, that is the best word to describ...","['0', '0']"
853548,Gambitt,Cradle 2 the Grave,4.0,NaN,4 March 2003,0,"Call me a fool, but I was actually looking for...","['1', '2']"

In [232]:
reviews = reviews[~(reviews['review_summary'].isnull())]

In [237]:
temp = reviews.loc[:, 'helpful_list'].str.strip('[]').str.replace('\'|,', '', regex=True).str.split(' ')

reviews.loc[:, ['total']] = temp.apply(lambda x: x[1]).astype(int)
reviews.loc[:, ['helpful']] = temp.apply(lambda x: x[0]).astype(int)

reviews['unhelpful'] = reviews['total'] - reviews['helpful']

<ipython-input-237-b36e1811bea0>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  reviews['unhelpful'] = reviews['total'] - reviews['helpful']

In [238]:
reviews

,reviewer,movie,rating,review_summary,review_date,spoiler_tag,review_detail,helpful_list,total,helpful,unhelpful
review_id,,,,,,,,,,,
5704482,raeldor-96879,After Life,9.0,Very Strong Season 2,3 May 2020,0,"I enjoyed the first season, but I must say I t...","['1', '1']",1,1,0
5704483,dosleeb,The Valhalla Murders,6.0,Icelandic detectives?,3 May 2020,0,I know Iceland is a small country and police d...,"['2', '2']",2,2,0
5704493,UniqueParticle,Unstoppable,8.0,Excellent last film of legendary Director Tony...,3 May 2020,0,A suspenseful thrilling adventure about a loos...,"['3', '4']",4,3,1
5704496,Hellooo1234321,Dangerous Lies,NaN,Not bad,3 May 2020,0,Highlight was Camila Mendes exceptional acting...,"['2', '3']",3,2,1
5704507,indieevan,The Master,8.0,"Great Potential, Less Great Execution",3 May 2020,0,"The premise was a 10, but the execution left a...","['1', '1']",1,1,0
...,...,...,...,...,...,...,...,...,...,...,...
98919,compsecure,Point Blank,NaN,role made for the original 60s action man,23 April 2004,0,This was a movie made for Marvin. Whether by d...,"['33', '44']",44,33,11
98920,kyle-garabadian,Point Blank,9.0,Point Blank is one of the most influential fil...,12 June 2004,0,Point Blank is one of those lost gems from the...,"['97', '119']",119,97,22
98921,sol-kay,Point Blank,8.0,John Boorman's hypnotic & stylish 1967 crime t...,14 July 2004,0,"****SPOILERS***** Mal Reese, John Vernon, took...","['2', '4']",4,2,2
98922,ginger_sonny,Point Blank,NaN,classic,31 August 2004,0,A violent crime classic. In British director J...,"['2', '4']",4,2,2
98923,tresdodge,Point Blank,8.0,"Arty, Stylish, Sharp, Revenge Thriller",29 September 2004,0,"John Boormans classic centres around a man ,(L...","['2', '4']",4,2,2